*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/*
Fontes:
font-family: 'Playfair Display SC', serif;  // Titulos
font-family: 'Cormorant Garamond', serif;  // Subtitulos
font-family: 'Montserrat', sans-serif;  // Corpo

Cores:
#021E73     // Azul escuro
#30A8F2     // Azul claro
#7ED9BF     // Azul esverdeado
#F28729     // Laranja
#F2EFDF     // Bege claro
*/


html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #021e73;
    background-image: url(/background/2bck-svg-1920x1080.svg);
}
/*
header {
    background-color: #D6EADF;
}*/

header .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 980px;
    margin: auto;


    /*background-color: lightcoral;*/
}

header img{
    width: 250px;
    padding: 15px 10px;
}

/*MENU*/
.sobrepor {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top right, #90CAF9, #E3F2FD);
}

/*icones do menu*/
header .container span#menu{
    font-size: 3.5rem;
    color: #2C393F;
}
header .container span#menu:hover{
    color: #48657D;
}

.sobrepor-conteudo {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.sobrepor a {
    padding: 8px;
    text-decoration: none;
    font-size: 3.6rem;
    color: #2C393F;
    display: block;
    transition: 0.3s;
}

.sobrepor a:hover, .sobrepor a:focus {
    color: #48657D;
}

.sobrepor .fechar {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*FIM DO MENU*/

main .texto{
    display: block;
    align-items: center;
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 30px 10px;
    text-align: center;

    /*background-color: lightcyan;*/
}

main .texto h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight:900;
}

main .principal{
    width: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;

    /*background-color: lightseagreen;*/
}

main .container .principal .form{
    width: 50%;
    align-items: center;
    display: block;
    text-align: center;
    padding: 30px 0;

    /*background-color: maroon;*/
}

main .container .principal .form input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    padding-left: 10px;
}

main .container .principal .ben{
    width: 50%;
    align-items: center;
    display: block;
    text-align: center;

    /*background-color: magenta;*/
}

main .container .principal .beneficios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    padding-top: 15px;

}

main .container .principal .mtv1{
    grid-column-start: 1;
    grid-column-end: 2;
}
main .container .principal .mtv2{
    grid-column-start: 2;
    grid-column-end: 3;
}
main .container .principal .mtv3{
    grid-column-start: 3;
    grid-column-end: 4;
}

main .container .principal .inc{
    
    grid-column-start: 1;
    grid-column-end: 4;
}

main .principal img{
    width: 100%;
    padding-left: 15px;
}

/*Muda o tamanho da fonte do menu quando a altura for menor que 450px*/
@media screen and (max-height: 450px) {
    .sobrepor a {font-size: 20px}
    .sobrepor .fechar {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/*Muda o tamanho da fonte do html e da largura das divs e as deixa uma embaixo da outra quando a largura for menor que 768px*/
@media (max-width: 768px){
    html{
        font-size: 50%;
    }
    header .container{
        width: 90%;
    }
    main .texto{
        width: 90%;
    }
    main .principal{
        flex-direction: column;
        align-items: center;
    }
    main .container .principal .ben{
        order: -1;
        width: 90%;
    }
    main .container .principal .form{
        width: 90%;
    }
}

/*Muda a largura das divs e o tamanho das imagens quando a largura for menor que 425px*/
@media (max-width: 425px){
    html{
        font-size: 40%;
    }
    header img{
        width: 150px;
    }
    main .principal img{
        width: 250px;
    }
    header .container{
        width: 100%;
    }
    main .texto{
        width: 100%;
    }
    main .container .principal .ben{
        width: 100%;
    }
    main .container .principal .form{
        width: 100%;
    }
}